RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Bloquer l'accès direct aux fichiers sensibles
<Files ~ "\.(env|log|sql)$">
   Deny from all
</Files>